html, body {
    height: 100%;
    width: auto;
}

body {
    background-color:#202020 !important;
    color: white !important;
    width: auto;
}

/* Top Navbar */

.navbar {
    background-color: #101010 !important;
    margin-bottom: 0 !important;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5em !important;
}

.navbar-brand:hover {
    background: white;
    background: linear-gradient(to right, #FF87B9, #E7AAFF, #99A4FF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .3s;
}

.nav-link {
    font-size: 1.2em;
    color: white !important;
    position: relative;
    text-decoration: none;
}

.nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: .3s;
}

.nav-link:hover::before {
    transform: scaleX(1);
}

.navbar-toggler {
    border: 0cm !important;
}

/* Hero Section */

.container-fluid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: left;
    border: 0px;
}

#hero-section {
    padding-left: 5%;
}

#hero-head {
    font-size: 8em;
    font-weight: bold;
    background: linear-gradient(to right, #FF87B9 5%, #E7AAFF 25%, #99A4FF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
}

#hero-home {
    height: 100%;
    width: auto;
    animation: fadein 1s;
    /* background: linear-gradient(25deg, #845ec2 25%, #d65db1 75%, #ff6f91); */
    background: #202020;
}

#hero-text {
    font-size: 1.5em;
    text-align: left;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

#about {
    width: auto;
}

#student {
    color: #FF87B9;
}

#programmer {
    color:#E7AAFF;
}

#writer {
    color: #99A4FF;
}


/* About */
#about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

#mypic {
    overflow: auto;
    width: 100%;
    height: auto;
    border-radius: 50%;
    padding: 5%;
}

#intro {
    padding: 2%;
    overflow: auto;
}

#hello {
    color: #FF87B9;
    font-size: 4em;
}

p {
    font-size: 1.2em;
}

/* Footer */

.navbar-expand-lg {
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: center;
}

h3 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Screen Responsiveness */

@media (max-width: 480px) {
    .hero-head {
        font-size: 3.5em;
    }
    #about {
        flex-direction: column;
    }
    #mypic {
        height: 50vh;
        width: auto;
        padding: 0;
    }

}

@media (min-width: 481px) and (max-width: 768px) {
    .hero-head {
        font-size: 5em;
    }

    #hello {
        font-size: 3em;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .hero-head {
        font-size: 5.5em;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .hero-head {
        font-size: 6.5em;
    }
}