html, body {
    height: 100%;
    width: auto;
    font-family: 'Segoe UI','Arial','sans-serif';
}

body {
    color: white !important;
    width: auto;
    background: rgb(21,0,53);
    background: linear-gradient(90deg, rgba(38,8,84,1) 0%, rgba(79,18,112,1) 55%, rgba(46,13,63,1) 86%); 
}

/* Top Navbar */

.navbar {
    margin-bottom: 0 !important;
}

.nav-link {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: white !important;
    position: relative;
    text-decoration: none;
}

.nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: .3s;
}

.nav-link:hover::before {
    transform: scaleX(1);
}

.navbar-toggler {
    border: 0cm !important;
}

/* Hero Section */

#hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:10%;
}

/* UX writing: Sugue UI, Arial, sans-serif
Technical writing: Georgia, Times New Roman
Data analytics: Lucida Console
*/

#hero-header {
    font-size: 7em;
    font-weight: bold;
    text-align: left;
}

#hero-text {
    font-size: 2.5em;
    text-align: left;
}

#hero-home {
    height: 100vh;
    width: auto;
    animation: fadein 1s;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

button {
    border-color: white !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    border-radius: 50px !important;
    text-align: center;
    font-size: 20px !important;
    font-weight: bold;
}

/* Anchor Span */
.anchor {
    display: block;
    height: 50px;
    margin-top: -50px;
    visibility:hidden;
}

/* About */

#abt {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

#abt-card {
    background-color: white;
    width:80%;
    color:black;
    display: flex;
    overflow:hidden;
}

#abt-text {
    padding:5%;
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#abt-pic {
    width:50%;
    height:auto;
}

h5 {
    font-weight:bold !important;
    font-family: 'Segoe UI','sans-serif';
    font-size: 2.5em !important;
}

/* Experience */
#exp {
    padding-left: 10% !important;  
    padding-right: 10% !important;
    margin-bottom: 5% !important;
}

.exp-title {
    font-size:1.5em !important;
    text-align: left !important;
}

.exp-proj-title {
    font-size: 4em;
    color: #E7AAFF;
    font-weight: bold;
    margin-bottom: 2% !important;
}

#ennovar-exp {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 0 10% 0 10%;
}

h2 {
    font-weight: bold !important;
    text-align: left !important;
    font-size: 1.2em !important;
    text-align: center !important;
    margin: 0 !important;
    padding: 0 !important;
}

.exp-date {
    font-style: italic;
    font-size: 1.2em;
}

ul li {
    font-size: 1.1em !important;
}

.position-title {
    font-weight: bold;
}

/* Projects */

.all-projects {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-gap: 1rem;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.proj {
    background-color: white;
    color: black;
}

.proj-pic-main {
    width:100%;
    height:auto;
}

.proj-pic {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.proj-text-main {
    height:auto;
    padding: 4%;
}

.proj-title {
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}

.proj-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.repo-btn {
    background-color: #101010;
    color: white;
    padding: 1% 5%;
    font-size: 1em !important;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    width: 95%;
}

.repo-btn:hover {
    background-color: #E7AAFF;
    color: black;
    transition: .3s;
}

/* Footer */

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #101010;
}

h6 {
    font-size: 1.5em !important;
    text-align: center;
    margin-top: 1% !important;
}

.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fa {
    text-decoration: none !important;
    color: black !important;
    background-color: white !important;
    border-radius: 50% !important;
    padding: 15px;
    font-size: 20px !important;
    margin: 10px 20px 10px 20px;
}

.fa:hover {
    background-color: #E7AAFF !important;
    transition: .3s;
}

/* UX Writing Samples */
#uxwriting {
    background-color: #FFC8DD;
}

.UXsamples {
    width:auto;
    height:75%;
    margin: 4% 0;
}

h1 {
    font-size: 3.5rem;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Technical Writing Samples */
#techwriting {
    background-color: #E4CCF1;
}

/* Data Analytics */
#dataanalytics {
    background-color: #BDE0FE;
}

/* Screen Responsiveness 

    320px — 480px: Mobile devices
    481px — 768px: iPads, Tablets
    769px — 1024px: Small screens, laptops
    1025px — 1200px: Desktops, large screens
    1201px and more —  Extra large screens, TV

*/

@media screen and (max-width: 480px) {
    #experience {
        height: auto;
    }

    #projects {
        height: auto;
    }

    #hero-home {
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    #hero-section {
        justify-content: center;
        align-items: center;
        margin-right: 0;
        margin-left: 0;
    }
    
    #hero-header {
        font-size: 3em;
        text-align: center;
    }

    #hero-text {
        font-size: 1.25em !important;
        text-align: center;
    }

    #abt-card {
        flex-direction:column;
    }

    #abt-pic {
        height:auto;
        width:auto;
    }

    #abt-text{
        width:auto;
    }

    h5 {
        font-size: 2em !important;
        text-align: center;
    }

    #resume {
        font-size: 1em !important;
        width: 50% !important;
    }

    #my-pic {
        width: 40% !important;
        height: auto;
    }

    #about-desc {
        text-align: center;
        font-size: 1.2em;
    }

    h3 {
        font-size: 1.3em !important;
    }

    .exp-proj-title {
        font-size: 2.5em;
    }

    #ennovar-exp {
        padding: 1% 5% 0 5%;
    }

    h2 {
        font-size: 1em !important;
        margin: 2% !important;
    }

    .exp-date {
        font-size: 1em;
    }

    ul li {
        font-size: 1em !important;
    }

    .all-projects {
        display: grid;
        grid-template-columns: 85%;
        grid-gap: 1rem;
    }

    .proj-title {
        text-align: center;
        font-size: 1em !important;
    }

    p {
        font-size: .9em !important;
    }

    .fa {
        font-size: 15px !important;
        text-decoration: none !important;
        padding: 15px;
        margin: 10px;
    }

    h3 {
        font-size: 1.2em !important
    }

    .socials {
        width: auto;
        object-fit: contain;
    }


}

@media screen and (min-width: 481px) and (max-width: 768px) {

    h5 {
        font-size: 2em !important;
    }

    #hero-section {
        justify-content: center;
        align-items: center;
        margin-right: 0;
        margin-left: 0;
    }
    
    #hero-home {
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    #hero-header {
        font-size: 4em;
        text-align: center;
    }

    #hero-text {
        font-size: 1.5em !important;
        text-align: center;
    }

    #resume {
        font-size: 15px !important;
        margin-top: 0%;
        margin-bottom: 3%;
        width: 80%;
    }

    #abt-card {
        flex-direction:column;
    }

    #abt-pic {
        height:auto;
        width:auto;
    }

    #abt-text{
        width:auto;
    }

    h5 {
        text-align: center;
    }

    .exp-proj-title {
        font-size: 3em;
        text-align: center;
    }

    ul li{
        font-size: 1em !important;
    }

    #ennovar-exp {
        padding: 1% 5% 0 5%;
    }

    .all-projects {
        display: grid;
        grid-template-columns: 85%;
        grid-gap: 1rem;
    }

    .proj-title {
        text-align: center;
        font-size: 1em !important;
    }

    p {
        font-size: .9em !important;
    }

    .repo-btn {
        object-fit: contain;
    }

    .fa {
        font-size: 15px !important;
        text-decoration: none !important;
        padding: 15px;
        margin: 10px;
    }

    h3 {
        font-size: 1.2em !important
    }

    #resume {
        width: 50%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #hero-header {
        font-size: 6em;
    }

    #hero-text {
        font-size: 2em !important;
    }

    h5 {
        font-size: 2em !important;
    }

    #resume {
        font-size: 15px !important;
        margin-top: 0%;
        margin-bottom: 3%;
        width: 50%;
    }

    #my-pic {
        width: 25% !important;
        height: auto;
    }

    #about-desc {
        font-size: 1.2em;
    }

    ul li {
        font-size: 1.2em !important;
    }

    .exp-proj-title {
        font-size: 4em;
    }

    #ennovar-exp {
        padding: 1% 5% 0 5%;
    }

    .all-projects {
        display: grid;
        grid-template-columns: 40% 40%;
        grid-gap: 1rem;
    }

    .proj-title {
        text-align: center;
        font-size: 1em !important;
    }

    p {
        font-size: .9em !important;
    }

    .repo-btn {
        object-fit: contain;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    #hero-header {
        font-size: 6em;
    }

    #hero-text {
        font-size: 2.5em !important;
    }

    .exp-proj-title {
        font-size: 5em;
    }

    .all-projects {
        display: grid;
    }

    .proj-title {
        text-align: center;
        font-size: 1em !important;
    }

    p {
        font-size: .9em !important;
    }

    .proj {
        width: auto;
        height: 100%;
    }

}
